:root{
    --prymary-color:#8b0000;
    --secondary-color:#778899;
    --tertiary-color:#191970;
    --background-color-start:#f0ffff;
    --background-color-end:#f5f5dc;
    --font-base: Verdana, Arial, Helvetica, sans-serif;
    --font-heading: fantasy;
    --spacing: 1rem;
    --border-radius: 0.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}


#loader{
    position:fixed;
    inset: 0;
    background:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    transition: opacity 0.5s ease;
}


.car{
    width: 50px;
    height: 50px;
    background: var(--secondary-color);
    clip-path: polygon(50% 0%, 62% 12%, 75% 25%, 75% 40%, 50% 75%, 25% 40%, 25% 25%, 38% 12%);
    animation: beat 1s infinite ease-in-out;
}


@keyframes beat{
    0%, 100%{
        transform: scale(1);
    }
    
    50%{
        transform: scale(1.2)
    }
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translateY(-20px)
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--prymary-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInDown 0.8s ease-out;
    z-index: 1000;
    padding: 1rem 2rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-pareja{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.site-title{
    font-size: 1.8rem;
    color: white;
    margin: 0;
    padding: 0;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links a{
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    color: #f0ffff;
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background 0.3s, transform 0.3s, color 0.3s ease;
}

.nav-links a:hover,
.nav-links a:focus{
    background: var(--tertiary-color);
    transform: scale(1.1); 
    outline: none;
}

footer{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn{
    from{
        opacity: 0; 
        transform: translateY(20px);
    }
    to{
        opacity: 1; 
        transform: translateY(0);
    }
}

.logo-header img{
    display: flex;
    margin: 100px auto 10px;
    width: 80px;
    height: auto;
    border-radius: 10px;
}

body{
    background-image: url('media/logo-2.jpg');
    background-size: calc(100% + 200px) auto;
    background-position: -200px center;
    font-family: var(--font-base);
    margin-top: 350px;
    padding: 0;
    min-height: 100vh;
    display: block;
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0ffff;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
textarea,
select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #acafaf;
  border-radius: 5px;
  font-size: 1rem;
  background: #fff;
  color: #222;
}

input[type="password"]{
    margin-bottom: 25px;
}

input[type="email"]{
    margin-bottom: 25px;
}

input[type="tel"]{
    margin-bottom: 25px;
}

.mortis{
    width: 100%;
}

textarea{
    resize: vertical;
    min-height: 100px;
}

button[type='submit']{
    background-color: var(--prymary-color);
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type='submit']:hover{
    background-color: var(--secondary-color);
}

h1, h3{
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 2px;
}

footer{
    background: var(--prymary-color);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

@media (max-width: 760px){
    .hero h2{
        font-size: 2rem;
    }
    .hero p{
        font-size: 1rem;
    }
    .nav-links a{
        display: block;
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
        margin: 1 0.3rem;
        
    }
    header{
        padding: 0.5rem 1rem;
        
    }
    body{
        overflow-x: hidden;
    }
    footer{
        font-size: 0.8rem;
    }
}